@font-face
{
  font-family: ArcaMajor;
  src: url('../ArcaMajora-Heavy.ttf');
}
body
{
	margin: 0;
}
#headings h1
{
	font-family: ArcaMajor;
	text-align: center;
	padding-top: 20%;
	margin: 0;
	font-size: 4em;
}

#headings h4
{
	font-family: 'Raleway', sans-serif;
	text-align: center;
	padding-top: 20px;
	font-size: 1.5em;
}

#nav li
{
	list-style-type: none;
	display: inline;
	margin-left: 20px;
	margin-right: 20px;
	font-size: 1.23em;
}
#nav li a
{
	font-family: 'Helvetica';
	color: white;
	text-decoration: none;
}
#header
{
	height:100vh;
	background: url('../headerBG.png');
	background-size: 100%;
	color: white;
}
#nav
{
	display: flex;
	align-items:flex-end;
	justify-content: flex-end;
}
#solution
{
	min-height: 200px;
	background-color: #000;
	display: flex;
	padding-left: 10%;
	padding-right: 10%;
}
.col
{
	flex-grow: 1;
	align-items: center;
	justify-content: center;
	display: inline;
	margin: 15px;
}
.col img
{
	width: 30%;
	margin: 50px 35%;
}
.col p
{
	font-family: 'Raleway', sans-serif;
	text-align: justify;
	font-size: 1.3em;
	color: white;
	width: 100%;
}
#about
{
	min-height:500px;
	background-color: #00dd00;
}




@media screen and (max-width: 600px)
{
	#header
	{
		height: 50vh;
	}
	#solution
	{
		display: flex;
		flex-direction: column;
		padding: 0;
	}
	.col
	{
		background-color: #aaa;
		padding: 5px;
		align-self: center;
		margin: 0;
		padding: 0 10px;
	}
}
