@font-face
{
  font-family: ArcaMajor;
  src: url('../ArcaMajora-Heavy.ttf');
}
body
{
	margin: 0;
    color: white;
}
#headings h1
{
	font-family: ArcaMajor;
	text-align: center;
	padding-top: 15%;
	margin: 0;
	font-size: 4em;
}

#headings h4
{
	font-family: 'Raleway', sans-serif;
	text-align: center;
	padding-top: 20px;
	font-size: 1.5em;
}

#nav li
{
	list-style-type: none;
	display: inline;
	margin-left: 20px;
	margin-right: 20px;
	font-size: 1.23em;
}
#nav li a
{
	font-family: 'Helvetica';
	color: white;
	text-decoration: none;
}
#header
{
	height:80vh;
	background: url('../headerBG.png');
	background-size: 100%;
	color: white;
}
#nav
{
	display: flex;
	align-items:flex-end;
	justify-content: flex-end;
}
#solution
{
	min-height: 200px;
	background-color: #104166;
	display: flex;
}
.col
{
	flex-grow: 1;
	align-items: center;
	justify-content: center;
	display: flex;
    width: 50%;
    flex-direction: column;
}
.col img
{
    width: 70%;
    margin: 0;
}
.col
{
	font-family: 'Raleway', sans-serif;
	text-align: center;
	font-size: 1.3em;
	color: white;
	width: 90%;
}
.sauravKaChutiyapa
{
    justify-content: center;
    display: flex;
    flex-direction: row;
}
.col img
{
    max-height:100%; max-width:100%;
    object-fit: contain;
}
.sauravKaChutiyapa img
{
    width: 100px;
    flex-grow: 1;
    width: 50%;
}

.sauravKaChutiyapa div
{
    flex-grow: 1;
    margin-left: 10px;
}
.sauravKaChutiyapa p
{
    font-size: 1em;
}
#about
{
	min-height:500px;
	background-color: #00dd00;
}
#form
{
    display: flex;
    justify-content: center;
}
#form .mdl-card .mdl-shadow--4dp
{
    margin: auto;
    padding: 30px;
}
@media screen and (max-width: 600px)
{
	#header
	{
		height: 50vh;
	}
	#solution
	{
		display: flex;
		flex-direction: column;
		padding: 0;
	}
	.col
	{
		background-color: #aaa;
		padding: 5px;
		align-self: center;
		margin: 0;
		padding: 0 10px;
        width: 100%;
	}
}
